#elem{  
  background-origin: border-box;
   background-image: url("bg.png");
   border: 10px dashed black;
   padding: 30px;
   width: 250px;
   height: 150px;
}
/*Свойство background-origin задает то, как фоновая картинка (именно картинка, не заливка) будет размещаться относительно элемента: */